<table class="table">
  <tbody>
    <tr>
      <td>Production year</td>
      <td>{{ product.production_year }}</td>
    </tr>
      <tr>
      <td>Case metal</td>
      <td>{{ product.case_metal }}</td>
    </tr>
      <tr>
      <td>Caliber</td>
      <td>{{ product.caliber }}</td>
    </tr>
      <tr>
      <td>Mechanism</td>
      <td>{{ product.mechanism }}</td>
    </tr>
      <tr>
      <td>Glass</td>
      <td>{{ product.glass }}</td>
    </tr>
      <tr>
      <td>Bracelet material</td>
      <td>{{ product.bracelet_material }}</td>
    </tr>
      <tr>
      <td>Bracelet size</td>
      <td>{{ product.bracelet_size }}</td>
    </tr>
      <tr>
      <td>Box availability</td>
      <td>{{ product.sd }}</td>
    </tr>
      </tr>
      <tr>
      <td>Box material</td>
      <td>{{ product.sd_volume_max }}</td>
    </tr>
  </tbody>
</table>
